/*
    Flexible Box
    !For Parent
        - display: flex => To Start Flexible Box
        - flex-direction: row => Default Value
        - flex-wrap: nowrap => Default Value
        - flex-flow: [Flex-Direction] + [Flex-Wrap]
        
        - justify-content: flex-start => Default Value
        
        - align-items: stretch => Default Value
        - align-content: stretch => Default Value
    !For Child
        - flex-grow: 0 => Default Value
        - flex-shrink: 1 => Default Value
        - order: 0 => Default Value
*/


.flex {
    width: 800px;
    background-color: #eee;
    color: #fff;

    display: flex;
}

.flex div {
    width: 80px;
    text-align: center;
    padding: 20px;
    background-color: red;
    margin-left: 5px;
    
    flex-grow: 0;  /** نمو عنصر */
}