.red {
    background-color: red;
    color: #fff;
    padding: 10px;
}

::selection {  /* selection all element */
    background-color: #141414;
}

.area {
    width: 100px;
    height: 100px;
    background-color: #eee;
}

.links a{
    color:gold;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: black;
}

.check:checked + label {
    color: brown;
    /* display: none;  لمه اعمل علامه صح مص هيختفي */
}

.links a:visited {
    color: blueviolet;
}

.area:empty {
    border: 2px solid #141414;
}

.input-text {
    border: 1px solid red;
}

.input-text:focus {
    border-color: green;
    outline: none;
}