div {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: #fff;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;

    transform: scale(2);
}