/*
    Media Queries
    Responsive Design
    - Concept Of Width
    - Mobile
    - Small Screens
    - Medium Screens
    - Large Screens
    - Future Updates
*/

.parent {
    width: 700px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parent > div {
    background-color: blue;
    color: #fff;
    text-align: center;
}

/* Mobile */

@media (max-width: 767px) {
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
}

/* Medium Screens */

@media (min-width: 992px) {
}

/* Large Screens */

@media (min-width: 1200px) {
}

/* Custom */

@media (max-width: 1199px) {
}