div {
    font-size: 16px;
}

div span {
    font-size: 2em;  /*  (2em * 16px) = 32 px  */
    background-color: aliceblue;
}


/*

    CSS Units
    - px
    - em => Time
    - rem => Root Time
    - % => Percentage 
    - vw => View Port Width

    - 1em != 16px 
    - Default Font Size for Web Page Is 16px  

*/

