div {
    letter-spacing:-2px; /* Coding مساحه الفراغ يستخدم مع ال */
    text-indent: 100px;
}

p {
    line-height:1.6;
    background-color: #eee;
    word-spacing: 5px;
}

h4 {
    width:300px;
    background-color: #eee;
    word-break: break-all; /* width انزل سطر بعد تحديد  */
}