.Dimensions-dont-use div,
.min-width div, 
.max-width div {

    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    color: aliceblue;
    border-bottom: 4px yellow solid;

}

.min-width div {
    
    min-width: 400px;    /* lows width 400px */

}
.max-width div {

    max-width: 500px;    /* longs width 500px */
}