.one {
    width: 70%;
    padding: 20px;
    margin: auto;
    background-color: thistle;



    /* اختصار 

        border: 10px red solid;    
    
    */

    border-width: 10px 15px ;
    border-color: aqua rosybrown magenta lightslategray;
    border-style: solid;

}


.tow {
    width: 50%;
    padding: 5px;
    margin: 10px auto;
    font-size: x-large;
    background-color:thistle;
    border-left: 10px blueviolet solid;
    outline: 20px thistle solid;
}