.shape {
    perspective: 300px;
    perspective-origin: center center;
}
.shape div{
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background: red;
    color: #fff;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.shape div:hover {
    transform: translate3d(0 , 0 , 100px);
}