* {
    box-sizing: border-box;
    font-family: Arial;
}

/*
    !Flexible Box
    ?For Parent
    *- display: flex => To Start Flexible Box
    *- flex-direction: row => Default Value
    *- flex-wrap: nowrap => Default Value
    *- flex-flow: [Flex-Direction] + [Flex-Wrap]
*/

.Flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    
    
    display: flex;
    
    flex-flow: row wrap-reverse; /*?  Short Hand  */
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
}

.Flex div {
    background-color: #f00;
    color: white;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.Float {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    
    overflow: hidden;
}

.Float div {
    background-color: #f00;
    color: white;
    width: 25%;
    text-align: center;
    padding: 20px;
    
    float: left;
}