div {
    background-color: blue;  /* color name */
    background-color: rgba(255 255 255 / 50%);   /* red green blue */
    
    background-image: url(googlelogo_color_272x92dp.png);
    background-repeat: no-repeat;  /* لا تكرار   */

    background-attachment:fixed; /* طول ما بعمل اسكرال الصوره ثابته*/
    background-position: 50% 20%;  /* left center - right center - bottom center ......*/
    background-size : 22% 12% ;  /* size image */ 
}