div {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: #fff;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition-duration: 1s;
}

div:hover {
    transform: scale(2) rotate(180deg);
    opacity: .5;
}