.parent {
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.parent > div {
    background-color: red;
    color: #fff;
    width: calc(700px / 4);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 1000px) { /**  0 : 1000px  */
    
    .parent {
        width: 350px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .parent > div {
        background-color: blue;
    }
}