/*
    The Margin Collapse
    [1] Only Vertical Margin Collapse
    [2] Bigger Margin Wins
    [3] Margin Collapsing With Elements Without Anything Between
    [4] Nesting Does Not Prevent Collapse
*/

* {
    box-sizing: border-box;
    font-family: Arial;
}

.parent {
    width: 200px;
    height: 200px;
    background-color: #eee;
    margin: 20px auto;
    overflow: hidden;
}

.ch1,
.ch2 {
    width: 100px;
    height: 200px;
    float: left;
    background-color: #ccc;
}

.ch2 .up {
    background-color: red;
    width: 100px;
    height: 90px;
    margin-bottom: 20px;
}

.ch2 .down {
    background-color: green;
    width: 100px;
    height: 90px;
    margin-top: 20px;
}