/*
    CSS Selectors
    - :root
    - :checked
    - :empty
    - :disabled
    - :required
    - :focus
    - ::selection
    - ::placeholder
*/


input[name="one"]:checked + label{
    color: red;
}

h1:empty {
    border: 1px solid red;
    height: 50px;
}

input:disabled {
    color: #fff;
    background-color: blueviolet;
}

input:required + span {
    color: red;
}
