.parent {
    background-color: cornflowerblue;
    padding: 10px;
}

.parent div {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    width: 25%;
    float: left;
}

.Clear {
    clear: both;
}