div {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(10px , 10px);  /*? margin */
}