.one,
.tow,
.three {
    width: 500px;
    padding:20px;
    margin: 20px;
    background-color: #EEE; 
}

.one {
    border-bottom: 2px red solid;
    color: red;
}

.tow {
    border-bottom: 2px blue solid;
    color: blue;
}
.three {
    border-bottom: 2px black solid;
    color: black;
}